<div class="col-md-6">
    <p class="text-success text-left">
        Joan Maragall 44 17002 <strong>Girona</strong><br/>
        Tel. 972 20 33 31 – Fax 972 22 46 89
    </p>
</div>
<div class="col-md-6">
    <p class="text-success text-right">
        Central:
        Deu i Mata 96 08029 <strong>Barcelona</strong><br/>
        Tel. 93 602 06 02 – Fax 93 602 06 00
    </p>
</div>
