@model Doctor.TaxInformationCerficate

<div class="no-margins">

    <div class="no-margins">
        <img src="/img/logo.png" />
    </div>

</div>
<br/>
<br/>
<br/>
<div class="col-md-12 center-block">
    <br/>
    <div class="col-xs-12">
        <p class="text-right">Fecha : @DateTime.Now.ToString("dd/MM/yyyy")</p>
    </div>
    <br/>
    <br/>
    <div class="col-xs-12">
        <p class="text-left">LUIS BALLVÉ AGUSTÍ, Director General de <strong>Vital Seguro s.a.</strong>
        </p>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="col-xs-12">
        <h3 class="text-left">
            <strong>CERTIFICA</strong>
        </h3>
    </div>
    <br/>
    <br/>
    <div class="col-xs-12">
        <p class="text-left">
            Que @Model.EntityName, con CIF Núm. @Model.Cif, ha cobrado de esta Compañía durante el
            ejercicio de @Model.Year la cantidad que a continuación se indica, de la qual se ha retenido el importe
            correspondiente:
        </p>
    </div>
    <br/>
    <br/>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <p class="text-right">sadasd:</p>
        </div>
        <div class="col-xs-6">
            <p class="text-left">12123123</p>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <p class="text-right">sadasd:</p>
        </div>
        <div class="col-xs-6">
            <p class="text-left">12313123</p>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="col-xs-12">
        <p class="text-left">
            Se emite la presente a los efectos oportunos.
        </p>
    </div>
</div>